# interface and object files
*.hi
*.hi-boot
*.o
*.o-boot
*.icurry
.curry
Curry_Main_Goal.curry

# tex temporary files
*.aux
*.log
*.out
*.nav
*.snm
*.toc
*.tpt
*.vrb
*.pdf
*.blg
*.idx
*.ilg
*.ind
*.tpt
*.backup
*.synctex.gz
*~

# intermediate files
stage[1,2,3]
*.bak
Installation.hs
*.log
.kics2sc
lib
runtime/dist
runtime/kics2-runtime.cabal
docs/src/version.tex
cabal-dev/
pkg/

# binaries
benchmarks/Benchmarks
bin/
cpns/CPNSD
examples/comptest
tools/GenInt
tools/ImportCalls
tools/AddTypes
tools/CreateMakefile
tools/CurryTest
tools/browser/BrowserGUI
tools/curry2js/Curry2JS
tools/currydoc/CurryDoc
tools/erd2curry/erd2curry
tools/SourceProgGUI
www/Registry
www/submitform

# documentation
lib/CDOC
lib/TEXDOC
docs/INSTALL.html
docs/GITINSTALL.html
docs/RELNOTES.html
docs/src/lib
docs/markdown_syntax.html
docs/src/markdown_syntax.tex

# distribution
kics2*.tar.gz
