# interface and object files
*.hi
*.hi-boot
*.o
*.o-boot
*.icurry
.curry

# intermediate files
*.bak
Installation.*

# binaries
*.state
CompileBoot
REPLBoot
idc
REPLexec
cpns/CPNSD
examples/comptest
tools/GenInt
tools/ImportCalls
www/Registry
www/submitform
