# interface and object files
*.hi
*.hi-boot
*.o
*.o-boot

# intermediate files
*.fcy
*.ahs
.curry
C_*
Installation.*

# binaries
*.state
examples/comptest
idc
cpns/CPNSD
www/Registry
www/submitform
tools/GenInt
tools/ImportCalls

